
<md-sidenav-container>
  <md-sidenav #sidenav class="sidenav" >
    <md-nav-list>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/']">
        <md-icon md-list-icon>Home</md-icon>
        <span md-line>Home</span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/products']">
        <md-icon md-list-icon>list</md-icon>
        <span md-line>Products</span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/receipt']">
        <md-icon md-list-icon>Receipt</md-icon>
        <span md-line>Receipt</span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/invoice']">
        <md-icon md-list-icon>description</md-icon>
        <span md-line>Invoice</span>
      </a>
      <md-list>
          <span md-line>Reports</span>
          <a md-list-item (click)="sidenav.close()" [routerLink]="['/receiptrpt']">
            <md-icon md-list-icon>Receipt</md-icon>
            <span md-line>Receipt</span>
          </a>
          <a md-list-item (click)="sidenav.close()" [routerLink]="['/invoicerpt']">
            <md-icon md-list-icon>description</md-icon>
            <span md-line>Invoice</span>
          </a>
      </md-list>
    </md-nav-list>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button md-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
      <span style="padding-left: 4px"> {{title}}</span>
      <span class="fill-remaining-space"></span>
      
    </md-toolbar>
  </div>
  <div class="my-content">


    <router-outlet>
      
        </router-outlet>
    

  </div>
</md-sidenav-container>